@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');



.my-home-component{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background: linear-gradient(to right, #0B335B, #0B1B2B);
  position: relative;
    z-index: 1;
}

.my-component {
    position: relative; 
    padding: 20px 0;
   

    &:before {
        content: "";
        position: absolute;
        top: -12%;
        left: 237px;
        width: 522px;
        height: 508px;
        background-image: url('../assets/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        background-position: 100% 100%;
    }

    
    .heading {
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #ffffff;
      font-family: 'Kaisei Tokumin';

    }
    .heading span{
        color: #00F2B2;
    }
    
    .description {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 30px;
      font-family: 'Inter', sans-serif;

    }
  
    
    .points {
  
      font-family: 'Inter', sans-serif;
      
      .point {
        padding: 0 10px;
        font-size: 16px;
        margin-bottom: 10px;
        color: #ffffff;
        // border-right: 2px solid #ccc;
        padding: 8px 15px;
        
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
 
