h1{
    font-size: 30px;
    font-weight: 800;
       font-family: 'Kaisei Tokumin';
       color: #0B335B;

}
h4{
    background-color: #13B78C;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter';
    margin-bottom: 28px;
    text-align: right;
    padding: 10px;
}
.role{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
    color: #0B335B;
}


.responsibility{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Inter';
    color: #0B335B;
    margin-left: 32px;
    @media screen and (max-width: 576px) {
margin-left: 10px;
}
}
.text-end{
    display: flex;
    justify-content: start;
}
.apply-now{
    background-color: #13B78C;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    margin: 0px 32px 32px;
}
.opening_list_order{
padding:21px 50px;

@media screen and (max-width: 576px) {
    padding: 30px;
}
}
@media screen and (max-width: 576px) {
    .col-sm-3 {
      flex: 0 0 100%; 
      max-width: 100%; 
      margin-bottom: 10px; 
    }

}
.drop-down-icon{
    padding-right: 20px;
}