h1{
    font-size: 30px;
    font-weight: 800;
       font-family: 'Kaisei Tokumin';
       color: #0B335B;

}
h4{
    background-color: #13B78C;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter';
    margin-bottom: 50px;
    text-align: right;
    padding: 10px;
}
.role{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
}
// span{
//     font-size: 17px;
//     font-weight: 400;
//     font-family: 'Inter';
// }
.responsibility{
    font-weight: 25px;
    font-weight: 500;
    font-family: 'Inter';
}
.text-end{
    display: flex;
    justify-content: start;
}
.apply-now{
    background-color: #13B78C;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
}