.job-component {
    height: calc(100vh - 60px);
    background: linear-gradient(to right, #0B335B, #0B1B2B) !important;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
  .my-job-component {
    width: 100%;
    max-width: 800px; 
  }
  
  .centered-div {
    text-align: center;
  }
  
  .heading {
    font-size: 60px;
    color: #ffffff;
    font-family: 'Kaisei Tokumin';

    @media screen and (max-width: 568px) {
     font-size: 30px;
    }
  }
  
  .heading span {
    color: #00F2B2;
  }
  